<launch>
  <arg name="map_file" default="$(find qsbot_navigation)/map/402/map.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- RPLiDAR -->
  <include file="$(find qsbot_navigation)/launch/rplidar.launch" />

  <!-- AMCL -->
  <include file="$(find qsbot_navigation)/launch/amcl.launch" />

  <!-- move_base -->
  <include file="$(find qsbot_navigation)/launch/move_base.launch" />

  <!-- static_tf -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 50" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0 base_link laser 30" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu" args="0 0 0 0 0 0 base_link imu 30" />

  <!-- Publish: /imu -->
  <node pkg="qsbot_imu" type="imu_pub" name="imu_pub">
    <param name="device" type="string" value="/dev/ttyUSB1"/>
    <param name="frame_id" type="string" value="imu"/>
  </node>

  <!-- Publish: /odom -->
  <node pkg="qsbot_odometry" type="odometry" name="odometry">
    <param name="frame_id" type="string" value="odom"/>
  </node>

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find qsbot_navigation)/rviz/qsbot_navigation.rviz"/>

</launch>
